fastapi
uvicorn[standard]
pydantic>=1.10
numpy
pandas
scikit-learn
sentence-transformers
transformers
peft
torch
python-multipart
fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
pydantic
accelerate
pydantic[email]
prometheus-client==0.20.0